<h2>Admin áttekintő</h2>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Felhasználók</h5>
        <p class="card-text fs-3"><%= userCount %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Üzenetek</h5>
        <p class="card-text fs-3"><%= msgCount %></p>
      </div>
    </div>
  </div>
</div>
