<h2>Bejelentkezés</h2>
<form method="post" action="/app014/login" class="col-md-6">
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="email" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Jelszó</label>
    <input type="password" class="form-control" name="password" required>
  </div>
  <button class="btn btn-primary">Belépés</button>
</form>
